

.catalogue{

}
.catalogue__content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
}
.catalogue__content-top{
	flex: 0 1 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.catalogue__total-products{
	font-size: 16px;
	line-height: 20px;
	opacity: 0.5;
}

.catalogue__products{
	flex: 1 1 75%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-bottom: 50px;

}
.catalogue__filters{
	flex: 0 1 255px;
	z-index: 2;
	align-self: start;
}






@media (max-width: 1170px){
	.catalogue__products{
		flex: 1 1 60%;
	}
}
@media (max-width: 768px){
	.catalogue__content-top{
		flex-wrap: wrap;
		gap: 20px;
	}
	.catalogue__total-products{
		flex: 0 1 100%;
	}
	
}