

.catalogue{

}
.catalogue__content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
}
.catalogue__total-products{
	flex: 0 1 75%;
	font-size: 16px;
	line-height: 20px;
	opacity: 0.5;
}
.catalgoue__select{
	flex: 0 1 20%;
}
.catalogue__products{
	flex: 1 1 70%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.catalogue__filters{
	flex: 0 1 255px;
	z-index: 2;
	align-self: start;
}

.filter{
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	padding: 25px 30px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
}
.filter__item{
	display: flex;
	justify-content: space-between;
	
}
.filter__name{
	color: rgba(0, 0, 0, 0.5);
}
.filter__name.active{
	font-weight: 700;
	color: #84C551;
	opacity: 1;
}
.filter__total{
	font-size: 12px;
	color: #E74E13;
}









.select__drobdown{
	position: relative;
	width: 260px;
	display: flex;
	flex-direction: column;
	z-index: 10;
	perspective: 400px;
	
}
.select__title{
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 15px;
	z-index: 11;
	cursor: pointer;
	transform-style: preserve-3d;
	transform-origin: 50% 0%;
	transition: transform 300ms;
	-webkit-touch-callout: none;
	user-select: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #484848;
}
.select__title span{
	color: rgba(0, 0, 0, 0.2);
	position: absolute;
	right: 20px;
	top:20%;
	text-align: center;
	font-size: 22px;
	border-left: 1px solid;
	padding-left: 15px;
}
.select__list{
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.select__option{
	background-color: #fff;
	display: block;
	left: 0;
	opacity: 1;
	transition: transform 300ms ease-out ;
	position: absolute;
	top: 0;
	width: 100%;
	transform: translateY(0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	opacity: 0;
	padding: 8px 15px;
	z-index: 3;
}
.select__option:last-child{
	border-radius: 0 0 20px 20px;
}
.select__drobdown.active{
	background-color: #fff;
	border-radius: 20px 20px 0 0;
}
.select__drobdown.active .select__title span{
	transform: rotateX(180deg);
}
.select__drobdown.active .select__option{
	opacity: 1;
}
.select__drobdown.active .select__option:nth-child(1){
	transform: translateY(100%);
}
.select__drobdown.active .select__option:nth-child(2){
	transform: translateY(200%);
}
.select__drobdown.active .select__option:nth-child(3){
	transform: translateY(300%);
}
.select__drobdown.active .select__option:nth-child(4){
	transform: translateY(400%);
}
.select__drobdown.active .select__option:nth-child(5){
	transform: translateY(500%);
}