.order__form {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr;
	gap:0 30px;
	margin-bottom: 70px;
}

.order__basket {
	grid-area: 1 / 2 / 4 / 3;
	
}

/* form */
.form__box.personal-info {
	padding-top: 0;
}
.form__box{
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
	padding: 30px 0;
	justify-content: space-between;
}
.form__title {
	flex: 0 1 100%;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}


.form__box textarea{
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 10px 20px;
	flex: 0 1 100%;
}

/* form section */
.delivery {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.payment {
	grid-area: 3 / 1 / 4 / 2;
}
.payment label{
	flex: 0 1 100%;
}
.payment label span{
	display: inline-block;
	padding-left: 10px;
}

/* basket order */

.basket-order {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 25px;
}
.basket-order__list{
	flex: 1 1 auto;
}
.basket-order__title{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.basket-order__text{
	font-size: 22px;
	margin:50px auto;
	color: #8C3213;
	font-weight: 600;
}

.basket-order__footer{
	
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #21603F;
	border-radius: 20px;
	color: #FFFFFF;

}
.basket-order__total span:last-child{
	font-weight: 700;
	color: #84BE51;
	display: inline-block;
	padding-left: 10px;
}
.basket-order__btn{
	width: 100%;
}


/* thanks for order*/

.ordered{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../../assets/images/section-fon.png') bottom center/ cover no-repeat;
	height: calc(100vh - 225px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.ordered::before,
.ordered::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.ordered::before{
	background: linear-gradient(80.25deg, rgba(132, 190, 81, 0.4) 1.38%, rgba(132, 190, 81, 0) 62.36%);
}
.ordered::after{
	background: linear-gradient(262.1deg, rgba(232, 78, 15, 0.3) 3.67%, rgba(232, 78, 15, 0) 87.59%);
}
.ordered .container{
	position: relative;
	z-index: 10;
}
.ordered__title{
	color: #fff;
}
.ordered__text{
	text-align: center;
	margin-bottom: 20px;
}
.ordered__btn{
	border: 1px solid;
	margin-left: 30px;
	padding: 10px 60px;
	border-radius: 20px;
}


@media (max-width: 1080px){
	.form__box .input{
		flex: 0 1 100%;
	}
}
@media (max-width: 910px){
	.order__form{
	grid-template: auto auto auto auto/ 1fr;
	}
	.order__basket{
	grid-area: auto / auto / auto / 2;
	}
	.form__box .input{
		flex: 0 1 calc(50% - 15px);
	}
}
@media (max-width: 700px){
	.ordered .orange-btn,
	.ordered__btn{
		width: 100%;
		display: block;
		margin: 30px 0;
	}
}

@media (max-width: 540px){
	.form__box .input{
		flex: 0 1 100%;
	}
}