.filter{
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	padding: 25px 30px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
}
.filter.filter-more{
	padding: 0;
	gap: 0;
}
.filter__item{
	display: flex;
	justify-content: space-between;
}

.filter__input{
	position: absolute;
	opacity: 0;
}
.filter__name{
	color: rgba(0, 0, 0, 0.5);
}
.filter__input.active + .filter__name{
	font-weight: 700;
	color: #84C551;
	opacity: 1;
}
.filter__total{
	font-size: 12px;
	color: #E74E13;
}

.filter__title{
	background-color: #84C551;
	padding: 15px;
	text-align: center;
	color: #fff;
	font-weight: 600;
}
.filter__box{
	padding: 15px 30px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filter__subtitle{
	font-weight: 600;
}
.box-price {
	display: flex;
	padding-bottom: 15px;
}
.box-price .filter__name{
	flex: 0 1 calc(50% - 20px);
	display: flex;
	flex-direction: column;
}
.box-price .filter__name input{
	border: 1px solid #CCCCCC;
	max-width: 95px;
	border-radius: 3px;
	padding: 3px 15px;
	appearance: none;
}
.catalogue__content-top .orange-btn{
	flex: 0 1 calc(50% - 30px);
}
.filters__btn{
	padding: 10px 40px;
	background-color: #84C551;
	color: #fff;
	font-weight: 600;
	border-radius: 20px;
	flex: 0 1 calc(50% - 20px);
}

@media (max-width: 768px){
	.filters{
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100vh;
		display: flex;
		opacity: 0;
		z-index: 222;
		transition: opacity 1s ease 0s;
	}
	.filters:before{
		content: ''; 
		min-width: 100%;
		min-height: 100%;
		background-color: rgba(0, 0, 0, 0.605);
		position: absolute;
		z-index: -1;
	}
	.filters.show{
		left: 0;
		opacity: 1;
	}
	.filters__select{
		z-index: 1;
	}

	.filter:not(.filter-more){
		display: none;
	}
	.filter-more{
		width: 255px;
		z-index: 3;
		height: 100%;
		position: relative;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		left: -100%;
		transition: left 0.4s ease 0s;
		height: 100%;
		overflow: scroll;
	}
	.filters.show .filter-more{
		left: 0;
	}
	.filter__title{
		display: flex;
		gap: 30px
	}
	.filter__title span{
		font-size: 22px;
		transition: all 0.3s ease 0s;
	}
	.filter__title span:hover{
		color:#E74E13;
	}
	
	.show .filter-more .orange-btn{
		margin: 0 15px;
		position: absolute;
		bottom: 20px;
		left: 40%;
		transform: translateX(-50%);
	}
	.filters__select{
		flex: 0 1 100%;
		
	}
}

@media (max-width: 460px){
	.filters__btn{
		flex: 1 1 100%;
	}
}