.header{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
}
.header.absolute{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.header::after{
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	right: 0;
	top: 50px;
	background-color: #8C3213;
	filter: blur(7rem);
	z-index: 1;
}

.header__middle{
	padding: 15px 0;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 52px;
}

.header__buttons{
	display: flex;
	gap: 8px;
	align-items: center;
}
.header__buttons{
	position: relative;
}
.total{
	position: absolute;
	top: 0%;
	background-color: #84BE51;
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
}
.header__total-price{
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
}





.roll-btn{
	position: relative;
	padding: 8px 10px 6px;
	border: 1px solid #8C3213;
	border-radius: 50%;
	color: #8C3213;
}
.roll-btn:hover{
	background-color: #8C3213;
	color: #fff;
}

