.header{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
	z-index: 12;
}
.header.absolute{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.header::after{
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	right: 0;
	top: 50px;
	background-color: #8C3213;
	filter: blur(7rem);
	z-index: 1;
}

.header__middle{
	padding: 15px 0;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 52px;
}

.header__buttons{
	display: flex;
	gap: 8px;
	align-items: center;
	position: relative;
	z-index: 5;
}

.header__total-price{
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
}







