
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
}

input,
button,
textarea {
	font-size: inherit;
	outline: none;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
body{
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	overflow-x: hidden;
}
textarea{
	overflow: auto;
	resize:none;
}
#root{
	height: 100%;
}

/* =========================================================== */

.wrapper{
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgb(242, 242, 242);
	overflow: hidden;
}

.container{
	margin: 0 auto;
	max-width: 1410px;
	padding: 0 15px;
}
.main{
	flex: 1 1 auto;
	
}

.main::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 150px;
	left: 0;
	top: 50px;
	background-color: #8C3213;
	filter: blur(7rem);
	z-index: 1;
}
.main::after{
	content: '';
	position: absolute;
	width: 150px;
	height: 100px;
	left: -10%;
	top: 50%;
	background-color: #bdc551;
	filter: blur(7rem);
	z-index: 1;
}
.main__paths{
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 10px;
}
.main__path{
	color: rgba(0, 0, 0, 0.5);
	position: relative;
}
.main__path:not(:last-child)::after{
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	top: 40%;
	right: -19px;
	border-radius: 50%;
	background-color:  #84C551;
}
.main__path:last-child{
	font-weight: 700;
}

/* logo */

.logo{
	display: flex;
	flex-direction: column;
}
.logo__text{
	font-size: 12px;
	font-weight: 700;
	color: #84C551;
	letter-spacing: 1px;
}
.logo__top{
	font-size: 48px;
	color: #000;
	font-weight: 700;
}
.logo__icon{
	color:#84C551;
}

/* roll button */

.roll-btn{
	position: relative;
	padding: 8px 10px 6px;
	border: 1px solid #8C3213;
	border-radius: 50%;
	color: #8C3213;
	width: 35px;
	height: 35px;
	
}
.roll-btn:hover{
	background-color: #8C3213;
	color: #fff;
}
.roll-btn .total{
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: #84BE51;
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
}

/* orange button */

.orange-btn{
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	padding: 10px 60px;
	background: #E74E13;
	border-radius: 90px;
	color: #FFFFFF;
	margin: 17px 0;
	display: inline-block;
}
.link-back-home.orange-btn{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	margin: 0 auto;
}
.orange-btn span{
	font-size: 22px;
	display: inline-block;
	position: relative;
	left: 0;
	transition: left 0.3s ease 0s;
	margin-right: 20px;
}
.orange-btn:hover span {
	left: -10px;
}
@media (max-width:768px){
	.logo__top{
		font-size: 32px;
	}
	.logo__text{
		font-size: 8px;
		letter-spacing: 0.5px;
	}
}

