.ch-password__form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.ch-password__field{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap:5px;
	color: #484848;
}
.ch-password__field input{
	border-radius: 90px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background: #FFF;
	padding: 15px 20px;
}
.ch-password__button{
	background-color: #E74E13;
	color: #FFF;
	padding: 15px 35px;
	border-radius: 90px;
	letter-spacing: 1.5px;
	font-weight: 700;
	max-width: 30%;
}